---
layout: default
---
<div class="container">
<h2 class="text-center bg-dark text-light pb-3 pt-2">{{ page.title }}</h2>

<div class="text-center bg-light border border-dark mb-5">
{{ content }}
</div>

<ul class="bg-light pt-3">
  {% assign filtered_problems = site.problems | where: 'tutorial', page.short_name %}
  {% for problem in filtered_problems %}
  <div class="text-left">
      <h5 class="pb-2">Zadanie {{ problem.problem_id }}</h5>
      <p>
      {{ problem | markdownify}}
      </p>
      {% assign solutions_per_tutorials = site.solutions | where: 'tutorial', page.short_name %}
      {% assign solution = solutions_per_tutorials | where: 'problem_id', problem.problem_id %}
  </div>


  <div class="text-left pb-5">
  <p>
  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseSolution{{ problem.problem_id }}" aria-expanded="false" aria-controls="collapseExample">
	  Pokaż rozwiązanie
  </button>
  </p>
  <div class="collapse" id="collapseSolution{{ problem.problem_id }}">
      {{ solution | first  | markdownify }}
  </div>
  </div>
  <hr>


  {% endfor %}
</ul>
<div>
